<html lang="en">
<head>
    <title>my app</title>
</head>
<body>
    <h2>Click to redirect!!! register page</h2>
    <a href='/home'>Home</a><br/><br/>
    <a href='/about'>About</a><br/><br/>
    <a href='/contact'>Contact</a><br/><br/>
    <a href='/service'>Service</a><br/><br/>
    <a href='/register'>Register</a><br/><br/>
    <a href='/login'>Login</a>";

</body>
</html>